@import 'app/app.pcss';

#content {
  margin-bottom: 3rem;
}

.button-start {
  background-size: 3rem;
}

s {
  display: none;
}

.start_callout {
  border: solid 1px #000;
  padding: 1.5rem;
  margin-top: 3rem;

  & .moj-Section__heading {
    margin-top: 0;
  }
}

.start_callout__content p:last-child {
  margin-bottom: 0;
}
