@import 'app/app.pcss';

#content {
  margin-bottom: 3rem;
}

.button-start {
  background-size: 3rem;
}

s {
  display: none;
}

[data-block-name="section:miam-requirement_accept"] {
  /* background-color: #dbead3; */
  background-color: #e7ebda; /* --grass-green-25 */
  padding: 1rem;
  margin: 1.25rem -1rem 0;

  & .moj-Section__heading--2 {
    margin-top: 0;
  }

  & .multiple-choice [type=radio] + label::before {
    background-color: #fff;
  }
}
