{% macro ExemptionsPlayback() %}
<p>{{ Block.String('miam-exemptions_playback_intro') }}

<ul>
{% for reason in route.exemptions %}
<li>
{% set exemption_type = getBlockProp(reason, 'exemption_type') %}
{% if exemption_type %}
<h4 class="exemption-claimed--heading">{{ getFormattedBodyContent('exemption_types', exemption_type) | safe }}</h4>
{% endif %}
{% set reasonSink = getFormattedBodyContent(reason, 'label') %}
<div class="exemption-claimed--reason">{{ getFormattedBodyContent(reason, 'label') | safe }}</div>
</li>
{% endfor %}
</ul>
{% endmacro %}