{% extends "templates/app-base/app-base.html" %}
{% import "components/Utils/Utils.njk" as Utils with context %}

{{ Utils.registerBlocks([
  "components/CallToAction/CallToAction.njk",
  "components/ChildOrders/ChildOrders.njk",
  "components/ExemptionsPlayback/ExemptionsPlayback.njk",
  "components/Playback/Playback.njk",
  "components/ProceedingsChildren/ProceedingsChildren.njk",
  "components/ProsCons/ProsCons.njk",
  "components/Residence/Residence.njk"
]) }}

{% block body_end %}
{{ super() }}
{% if not flowchart and not edit %}
<script>
jQuery('a[href]').each(function() {
  var $a = jQuery(this)
  var external
  var href = $a.attr('href')
  if (href.indexOf(document.location.origin) !== 0 && href.indexOf('#') !== 0) {
    external = true
  } else if (href.indexOf('/miam/exemptions') !== -1) {
    external = true
  }
  if (external) {
    var targetName = href.replace(/\//g, '-')
    $a.attr('target', targetName)
  }
})
</script>
{% endif %}
{% endblock %}