{% extends "templates/app-base/app-base.html" %}
{% import "components/Utils/Utils.njk" as Utils with context %}

{{ Utils.registerBlocks([
  "components/Playback/Playback.njk",
  "components/ProsCons/ProsCons.njk",
  "components/CallToAction/CallToAction.njk"
]) }}

{% block body_end %}
{{ super() }}
<script>
jQuery('a[href]').each(function() {
  var $a = jQuery(this)
  if ($a.attr('href').indexOf(document.location.origin) !== 0) {
    $a.attr('target', 'external_link')
  }
})
</script>
{% endblock %}